.nav {
    grid-area: n;
    background-color: #36688D;
    padding: 30px;
    border-top: 1px solid black;
    }

.item{
    color: white;
    text-decoration: none;
}

a.active{
    color: yellow;
    text-decoration: none;
}