.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: black;
}

.dialog {
    text-decoration: none;
    color: yellow;
}

.messages {
    padding: 10px;
}

.message {
    color: black;
}